<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy; <a href="https://t.me/nimatorabi_t" target="_blank">
            نیما ترابی
        </a>
    </small>
</footer>